@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../icons/bg.jpg');
}

.container {
    display: flex;
    width: 100%;
    gap: 10px;
}

section {
    background: #fff;
    border-radius: 7px;
}

.tools-board {
    width: 210px;
    padding: 15px 22px 0;
}

.tools-board .row {
    margin-bottom: 20px;
}

.row .options {
    list-style: none;
    margin: 10px 0 0 5px;
}

.row .options .option {
    display: flex;
    cursor: pointer;
    align-items: center;
    margin-bottom: 10px;
}

.option:is(:hover,
.active) img {
    filter: invert(17%) sepia(90%) saturate(3000%) hue-rotate(900deg) brightness(100%) contrast(100%);
}

.option :where(span,
label) {
    color: #5A6168;
    cursor: pointer;
    padding-left: 10px;
}

.option:is(:hover,
.active) :where(span,
label) {
    color: #4A98F7;
}

.option #fill-color {
    cursor: pointer;
    height: 14px;
    width: 14px;
}

#fill-color:checked~label {
    color: #4A98F7;
}

.option #size-slider {
    width: 100%;
    height: 5px;
    margin-top: 10px;
}

#color-picker {
    margin-left: 20px;

}

.buttons button {
    width: 100%;
    color: #fff;
    border: none;
    outline: none;
    padding: 11px 0;
    font-size: 0.9rem;
    margin-bottom: 13px;
    background: none;
    border-radius: 4px;
    cursor: pointer;
}

.buttons .clear-canvas {
    color: #6C757D;
    border: 1px solid #6C757D;
    transition: all 0.3s ease;
}

.clear-canvas:hover {
    color: #fff;
    background: #6C757D;
}

.buttons .save-img {
    background: #5f5964;
    border: 1px solid #5f5964;
}

.drawing-board {
    flex: 1;
    overflow: hidden;
    background-color: #fff;
}

.drawing-board canvas {
    width: 1250px;
    height: 700px;
}